# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pocketbase
pb_data/auxiliary.db
pb_data/auxiliary.db-shm
pb_data/auxiliary.db-wal
pb_data/data.db
pb_data/data.db-shm
pb_data/data.db-wal
pb_data/types.d.ts
pb_server
